<!--
Page:
	About
Path:
	/about.html
-->


<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="robots" content="noindex">

		<title>UW RoommateFinder - Unofficial UW Roommate Finding Program</title>
		<!--Links/includes-->
		<link rel="icon" href="./assets/icon.svg" type="image/x-icon">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">

		<link rel="stylesheet" href="C:\roomies\ROOMIES\public\static\styles\bootstrap.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" href="C:\roomies\ROOMIES\public\static\styles\style.css">
	</head>

	<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">
				<img src="/assets/icon.svg" src="site logo" height="50">
			</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavItems" aria-controls="mainNavItems" aria-label="Toggle main menu" aria-expanded="false" >
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse ml-auto" id="mainNavItems">
                <div class="ml-auto navbar-nav nav">
                    <div class="ml-auto navbar-nav nav">
						<a class="nav-item nav-link mx-1" href="/">
							Home
						</a> 
						<a class="nav-item nav-link mx-lg-2 mx-1 active" href="/templates/about.html">
							Why RoommateFinder?
						</a>
						<a class="nav-item nav-link mx-1" href="/templates/profile.html">
							Profile
						</a>
						<a class="nav-item nav-link mx-1" href="/templates/dashboard.html">
							Dashboard
						</a>
						<a class="nav-item nav-link mx-1" href="/templates/support">
							Support
						</a>
						<a class="mx-1 btn btn-outline-danger auth-only d-none" id="logoutBtn" href="#">
							Log Out
						</a>
						<a class="mx-1 btn btn-outline-purple no-auth" href="/#login">
							Log In
						</a>
					</div>
                </div>
            </div>
        </nav>
        
		<main class="container">
            
            <p class="h1 text-center">About RoommateFinder</p>

			<section class="text-center my-4" id="about">
                Created by Parth Jaju, Adwait Saha, Shreeraj Rane.  Roomies is a project designed to help people find roommates who have similar preferences and interests.
				 Please contact any one of us through GitHub! Our usernames are.
				  <a href="https://github.com/ParthJaju" target="_blank" rel="noopener nofollow">@ParthJaju</a>, 
				  <a href="https://github.com/Adwaitsaha" target="_blank" rel="noopener nofollow">@Adwaitsaha</a> 
				  and <a href="https://github.com/shreerajrane09" target="_blank" rel="noopener nofollow">@shreerajrane09</a>!
			</section>

			<footer class="footer pt-3 pb-1 px-3 my-0">
                <p class="text-muted">
                    Copyright (c) 2023.
                </p>		
            </footer>
		</main>

	</body>
</html>