<!--
Page:
	About
Path:
	/about.html
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="robots" content="noindex" />

    <title>Roomies</title>
    <!--Links/includes-->
    <link
      rel="icon"
      href="{{ url_for('static', filename='/assets/icon.png') }}"
      type="image/x-icon"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/styles/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/styles/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/styles/about.css') }}"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <img
          src="{{ url_for('static', filename='/assets/icon.png') }}"
          src="site logo"
          height="80"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#mainNavItems"
        aria-controls="mainNavItems"
        aria-label="Toggle main menu"
        aria-expanded="false"
      >
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse ml-auto" id="mainNavItems">
        <div class="ml-auto navbar-nav nav">
          <div class="ml-auto navbar-nav nav">
            <a class="nav-item nav-link mx-1" href="/"> Home </a>
            <a
              class="nav-item nav-link mx-lg-2 mx-1 active"
              href="/whyroommatefinder"
            >
              Why Roomies?
            </a>
        
            <a class="nav-item nav-link mx-1" href="/support"> Support </a>
            <a
              class="nav-item nav-link mx-1"
              href="/support"
              onclick="scrollToFooter()"
            >
              Contact Us
            </a>
            {% if session.get('user') %}
            <a class="nav-item nav-link mx-1" href="/dashboard">
              Dashboard
          </a>
            <a class="mx-1 btn btn-outline-danger auth-only" id="logoutBtn" href="/logout">
              Log Out
          </a>
          {% endif %}

            {% if not session.get('user') %}
            <button class="mx-1 btn btn-outline-purple no-auth login-btn" id='log-in' href="/login">
              Log In
          </button>
            {% endif %}

          </div>
        </div>
      </div>
    </nav>
    <br>
    <main class="container">
      <p class="h1 text-center">About Roomies</p>

      <section>
        <h2>Our Vision</h2>
        <p>
          At ROOMIES, we envision a future where finding the perfect roommate is
          not only effortless but also enhances your living experience. Our goal
          is to revolutionize the roommate-finding landscape by incorporating
          modern technologies and innovative features into our platform.
        </p>
      </section>

      <section>
        <h2>Key Features of ROOMIES</h2>
        <div class="feature-container">
          <div class="feature-image">
            <img
              src="{{ url_for('static', filename='/assets/recoalgo.png') }}"
              alt="Recommendation Algorithm Image"
            />
          </div>
          <div class="feature-content">
            <h2>Advanced Recommendation Algorithm</h2>
            <p>
              Our platform utilizes cutting-edge machine learning-based
              recommendation algorithms. By meticulously analyzing user
              profiles, preferences, and lifestyle factors, we provide highly
              accurate roommate suggestions.
            </p>
          </div>
        </div>

        <div class="feature-container">
          <div class="feature-image">
            <img
              src="{{ url_for('static', filename='/assets/privacy.jpg') }}"
              alt="Privacy and Security Image"
            />
          </div>
          <div class="feature-content">
            <h2>Enhanced Privacy and Security</h2>
            <p>
              Your safety and privacy are our top priorities. ROOMIES implements
              robust security measures, including CAPTCHA during login to
              prevent unauthorized access. We employ face detection technology
              for profile pictures to avoid catfishing, and our in-app messaging
              platform ensures seamless communication with potential roommates
              without revealing personal contact details.
            </p>
          </div>
        </div>

        <div class="feature-container">
          <div class="feature-image">
            <img
              src="{{ url_for('static', filename='/assets/ui.jpg') }}"
              alt="User-Friendly Interface Image"
            />
          </div>
          <div class="feature-content">
            <h2>User-Friendly Interface</h2>
            <p>
              Understanding the importance of a smooth user experience, ROOMIES
              boasts an intuitive and responsive interface. Whether you're
              creating or managing your profile, our website ensures a seamless
              experience across various devices. The roommate-matching process
              is designed to be straightforward and efficient.
            </p>
          </div>
        </div>

        <div class="feature-container">
          <div class="feature-image">
            <img
              src="{{ url_for('static', filename='/assets/feedback.jpg') }}"
              alt="Feedback and Continuous Improvement Image"
            />
          </div>
          <div class="feature-content">
            <h2>Feedback and Continuous Improvement</h2>
            <p>
              We are dedicated to continuous enhancement. Actively collecting
              user feedback, we use valuable insights to refine our
              recommendation algorithms and elevate the overall user experience.
              Our commitment is to adapt and improve continually, catering to
              the evolving needs of our users.
            </p>
          </div>
        </div>
      </section>
    </main>
  </body>
  <footer>
    <div class="contact-info">
      <p>Contact Us:</p>
      <p>Contact No:+91 7977199113</p>
      <p>Email: shreeraj.rane@somaiya.edu</p>
    </div>
    <div class="location">
      <p>𖡡 KJ Somaiya College Of Engineering</p>
      <iframe
        width="70%"
        height="150"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
        src="https://maps.google.com/maps?q=19.0729122,72.897333&z=15&output=embed"
      ></iframe>
    </div>
  </footer>
  <script
    src="https://code.jquery.com/jquery-3.6.4.slim.min.js"
    integrity="sha384-GLhlTQ8iKHEo7RY/RykD/xTk9SJ0Dl/6ZI99VF5ceEAAbFpi6Rv4r+7L3UqFvuci"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
  <!-- <script src="C:\roomies\ROOMIES\public\static\scripts\bootstrap.min.js"></script> -->

  <script>
    function scrollToFooter() {
      var footer = document.querySelector("footer");
      footer.scrollIntoView({ behavior: "smooth" });
    }
  </script>
  <script>
    document.getElementById('log-in').addEventListener('click', function() {
        window.location.href = '/login';  
    });
  </script>
</html>
