<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='/assets/icon.png') }}"
      type="image/x-icon"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/styles/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/styles/dashboard.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/styles/style.css') }}"
    />
    <style>
      body {
        background-color: #141618;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
          "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
          "Noto Color Emoji";
        font-size: 1rem;
        color: #c3bfbb;
      }
      table {
        width: 100%;
        border-collapse: collapse;

      }

      th,
      td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        
      }

      th {
        background-color: #FF385C;
        color: black;
      }
      h1 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">
          <img
            src="{{ url_for('static', filename='/assets/icon.png') }}"
            src="site logo"
            height="80"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#mainNavItems"
          aria-controls="mainNavItems"
          aria-label="Toggle main menu"
          aria-expanded="false"
        >
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse ml-auto" id="mainNavItems">
          <div class="ml-auto navbar-nav nav">
            <a
              class="nav-item nav-link mx-lg-2 mx-1"
              id="finder"
              href="/whyroommatefinder"
            >
              Why Roomies?
            </a>
            <a class="nav-item nav-link mx-1" href="/profile"> Profile </a>
  
            <a class="nav-item nav-link mx-1" id="support-btn" href="/support">
              Support
            </a>
            <a
              class="nav-item nav-link mx-1"
              href="/support"
              onclick="scrollToFooter()"
            >
              Contact Us
            </a>
            {% if session.get('user') %} {% if session['user']['username'] in
            admin_users %}
            <a class="nav-item nav-link mx-1 active" href="/admin"> Admin </a>
            {% endif %} {% endif %}
            <a class="nav-item nav-link mx-1" href="/dashboard">
              Dashboard
            </a>
            <a
              class="mx-1 btn btn-outline-danger auth-only"
              id="logoutBtn"
              href="/logout"
            >
              Log Out
            </a>
          </div>
        </div>
      </nav>
    <div style="margin: 1cm 2cm 2cm 2cm;">
    <div class="container">
      <h1>Admin Dashboard</h1>
      <div>
          <p>Total Users: {{users_count}}</p>
          <p>Total Preferences submitted: {{preferences_count}}</p>
          <p>Total Reports submitted: {{reports_count}}</p>
          <p>Total Queries submitted: {{queries_count}}</p>
      </div>
      <hr>
      <h3>Queries</h3>
      <table>
        <thead>
            <tr>
                <th>Sr No</th>
                <th>Name</th>
                <th>Email/Phone</th>
                <th>Bug Title</th>
                <th>Detail</th>
                <th>Image</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            {% for query in queries_data %}
                {% if query.Resolved != 1 %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ query.Name }}</td>
                        <td>{{ query.get('Email/Phone') }}</td>
                        <td>{{ query.get('Bug Title') }}</td>
                        <td>{{ query.Detail }}</td>
                        <td>
                            {% if query.Image %}
                                <a href="{{ query.Image }}" target="_blank">{{ query.Image }}</a>
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td><button onclick="resolveQuery('{{ query.Id}}')" id="queryResolve" class="mx-1 btn btn-outline-danger">Resolve</button></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <h3>Reports</h3>
    <table>
        <thead>
            <tr>
                <th>Sr No</th>
                <th>Username</th>
                <th>Reported User</th>
                <th>Detail</th>
                <th>Proof</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            {% for report in reports_data %}
                {% if report.Resolved != 1 %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ report.Username }}</td>
                        <td>{{ report.get('ReportedUser') }}</td>
                        <td>{{ report.get('Description') }}</td>
                        <td>
                            {% if report.Image %}
                                <a href="{{ report.Image }}" target="_blank">{{ report.Image }}</a>
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td><button onclick="resolveReport('{{ report.Id }}')" id="reportResolve" class="mx-1 btn btn-outline-danger">Resolve</button></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    
  </div>
  </body>

    <script>
      // Function to resolve a query
      function resolveQuery(queryId) {
          // Send AJAX request to update the query document
          fetch('/resolve_query', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
              },
              body: JSON.stringify({ queryId: queryId }),
          })
          .then(response => {
              if (response.ok) {
                  console.log('Query resolved successfully');
              } else {
                  console.error('Failed to resolve query');
              }
          })
          .catch(error => {
              console.error('Error resolving query:', error);
          });
      }

      // Function to resolve a report
      function resolveReport(reportId) {
          // Send AJAX request to update the report document
          fetch('/resolve_report', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
              },
              body: JSON.stringify({ reportId: reportId }),
          })
          .then(response => {
              if (response.ok) {
                  console.log('Report resolved successfully');
                 
              } else {
                  console.error('Failed to resolve report');
              }
          })
          .catch(error => {
              console.error('Error resolving report:', error);
          });
      }
  </script>


</html>
