<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="robots" content="noindex">

		<title>Roomies - Roommate Finding Program</title>
		<!--Links/includes-->
		<link rel="icon" href="{{ url_for('static', filename='/assets/icon.png') }}" type="image/x-icon">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">

		<link rel="stylesheet" href="{{ url_for('static', filename='/styles/bootstrap.min.css') }}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ url_for('static', filename='/styles/dashboard.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/styles/style.css') }}">
	</head>

	<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='/assets/icon.png') }}" src="site logo" height="80">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavItems" aria-controls="mainNavItems" aria-label="Toggle main menu" aria-expanded="false" >
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse ml-auto" id="mainNavItems">
                <div class="ml-auto navbar-nav nav">
                    
                    <a class="nav-item nav-link mx-lg-2 mx-1" id="finder" href="/whyroommatefinder">
                        Why RoommateFinder?
                    </a>
                    <a class="nav-item nav-link mx-1" href="/profile">
                        Profile
                    </a>
                    <a class="nav-item nav-link mx-1 active" href="/dashboard">
                        Dashboard
                    </a>
                    <a class="nav-item nav-link mx-1" id="support-btn" href="/support">
                        Support
                    </a>
                    <a class="mx-1 btn btn-outline-danger auth-only" id="logoutBtn" href="/logout">
                        Log Out
                    </a>
                
                </div>
            </div>
        </nav>

		
		<main class="container">
		

            <section class="txt splash">
                <p class="h1 text-center">RoommateFinder - Dashboard</p>

                <p class="text-center"><i class="fa fa-info-circle mr-2"></i><span class="text-info" id="mainMsg">No new notifications</span></p>

                <p class="text-center">If your <a href="/profile">profile</a> is complete and you have logged out and logged back in since last updating it, you'll see all of your matches listed below.</p>
                
            
	        </section>
		    
            <section class="text-center my-4" id="matches">
                <p class="h2 text-center">Matches</p>
                <p class="text-center small text-info">If you see someone who looks like a good match, reach out to them using the contact information they listed.</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Contact
                            </th>
                            <th>
                                Biography
                            </th>
                            <th>
                                Match Score
                            </th>
                            <th>
                                Profile
                            </th>
                        </tr>
                    </thead>
                    <tbody id="matchTable">

                    </tbody>
                </table>
			</section>
            
		</main>
        <script>
        document.getElementById('finder').addEventListener('click', function() {
            window.location.href = '/whyroommatefinder'; 
        });

        document.getElementById('support-btn').addEventListener('click', function() {
            window.location.href = '/support'; 
        });
    </script>
		
	</body>
</html>
