
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="Description" content="Welcome roommate finding program! Find a dorm roommate out of other registered UW students through a set of profile questions.">

		<title>Roomies - Roommate Finding Program</title>

		<link rel="icon" href="{{ url_for('static', filename='assets/icon.png') }}" type="image/x-icon">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">

		<link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">

	</head>

	<body>
		<main class="" id="main">
            <img src="{{ url_for('static', filename='assets/splash.png') }}" class="img splash" alt="main background image"></img>

            <section class="txt splash">
                <p class="title" style="color: white;">Roomies - RoommateFinder</p>
                <p class="subtitle" style="color: white;">Welcome to the roommate finding program</p>
            </section>
            <section class="scroll splash">
                <p class="mb-2 no-auth" style="color: white;">Login or Sign Up to get started</p>
                <p class="mb-3 auth-only" style="color: white;">Get your matches quickly!</p>
                <span>
                    <span class="no-auth">
                        <button class="btn btn-lg btn-purple px-5 mx-2 mb-2 login-btn" id="login-btn">
                            Log In
                        </button>
                        <button class="btn btn-lg btn-purple px-5 mx-2 mb-2" id="signup-btn">
                            Sign Up
                        </button>
                    </span>
                    <!-- <span class="auth-only d-none">
                        <a class="btn btn-lg btn-purple px-5 mx-2 mb-2" >
                            Dashboard
                        </a>
                        <button class="btn btn-lg btn-danger px-5 mx-2 logout-btn mb-2">
                            Log Out
                        </button>
                    </span> -->
                </span>
                <p class="d-none text-danger" id="warnMsg"></p>
            </section>

            <nav class="navbar spnav navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="#">
                    <img src="{{ url_for('static', filename='assets/icon.png') }}" src="site logo" id="siteLogo" height="100">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavItems" aria-controls="mainNavItems" aria-label="Show or hide main menu" aria-expanded="false" >
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse ml-auto" id="mainNavItems">
                    <div class="ml-auto navbar-nav nav">
                        <div class="ml-auto navbar-nav nav">
                            <a class="nav-item nav-link mx-1 active" href="/">
                                Home
                            </a> 
                            <a class="nav-item nav-link mx-lg-2 mx-1" id="finder" href="/about">
                                Why Roomies?
                            </a>
                        
                            <a class="nav-item nav-link mx-1" id="support-btn" href="/support">
                                Support
                            </a>
                            <a class="nav-item nav-link mx-1" href="/support" onclick="scrollToFooter()">
                                Contact Us
                            </a>
                          
                            <button class="mx-1 btn btn-outline-purple no-auth login-btn" id='log-in' href="/login">
                                Log In
                            </button>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- <footer class="footer" style="text-align: center;">
                <p style="text-align: center;">
                    Copyright (c) 2023.
                </p>		
            </footer> -->
        </main>
        <!-- Add these script tags at the end of the body section in index.html -->
<script>
    document.getElementById('login-btn').addEventListener('click', function() {
        window.location.href = '/login';  // Redirect to index2.html on login button click
    });

    document.getElementById('signup-btn').addEventListener('click', function() {
        window.location.href = '/signup';  
    });
    
    document.getElementById('support-btn').addEventListener('click', function() {
        window.location.href = '/support';  
    });

    document.getElementById('log-in').addEventListener('click', function() {
        window.location.href = '/login';  
    });

    document.getElementById('finder').addEventListener('click', function() {
        window.location.href = '/whyroommatefinder';  
    });

</script>

        
    </body>
</html>