<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liked Users</title>
</head>
<body>
    <h1>Liked Users</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Profile</th>
                <th>Match Score</th>
                <th>Compare</th>
            </tr>
        </thead>
        <tbody>
            {% if matched_recommendations %}
            {% for recommendation in matched_recommendations %}
            <tr>
                <td>{{ recommendation['Username'] }}</td>
                <td>{{ recommendation['Age'] }}</td>
                <td>{{ recommendation['Gender'] }}</td>
                <td>
                    <a href="{{ url_for('profiles', username=recommendation['Username']) }}">View Profile</a>
                </td>
                <td>{{ recommendation['MatchPercentage'] }}</td>
                <td>
                    <button class="btn compare-btn mx-1 btn btn-outline-danger" data-username="{{ recommendation['Username'] }}">Compare</button>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="7">No matched recommendations found.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    
    <script>
        document.querySelectorAll(".compare-btn").forEach(function (button) {
          button.addEventListener("click", function () {
            var username = this.dataset.username;
            // Redirect to the comparison page with the username as a query parameter
            window.location.href = "/compare?username=" + encodeURIComponent(username);
          });
        });
        </script>
</body>
</html>
