<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preferences</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/bootstrap.min.css') }}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ url_for('static', filename='/styles/dashboard.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/styles/style.css') }}">
        
</head>
<body>
    <form action="" method="post">
        <section class="text-center my-4 preference" id="userview" style="margin-right: 10%;">
            <p class="h2 text-center">Enter your preferences here</p>
            <hr class="d-md-none d-block w-75 my-0">
                <p class="text-danger text-center small m-0 p-0">This information will be shown to other matches</p>
                <label class="row custom-form-row">
                    <span class="col-md col-12 mb-1 py-2 text-center">
                        <p class="m-0 p-0">First Name</p>
                    </span>
                    <input class="col mx-4 mx-sm-0 form-control d-inline" type="text" name="fname" required>
                </label>
                <label class="row custom-form-row">
                    <span class="col-md col-12 mb-1 py-2 text-center">
                        <p class="m-0 p-0">Last Name</p>
                    </span>
                    <input class="col mx-4 mx-sm-0 form-control d-inline" type="text" name="lname" required>
                </label>
                <hr class="d-md-none d-block w-50 my-0">
                <label class="row custom-form-row">
                    <span class="col-md col-12 mb-1 py-2 text-center">
                        <p class="m-0 p-0">User Bio</p>
                    </span>
                    <textarea class="col mx-4 mx-sm-0 w-0 form-control d-inline" id="bioText"  name="bio" ></textarea>
                </label>
            <p class="h4 text-center mt-4 mb-1">Basic Demographics</p>
            <label class="row custom-form-row">
                <span class="col-md col-12 mb-1 py-2 text-center">
                    <p class="m-0 p-0">Location</p>
                </span>
                <select class="col mx-4 mx-sm-0 form-control"  name="location" required>
                    <option  selected value> -- select -- </option>
                    <option value="Mumbai">Mumbai</option>
                 </select>
            </label>
            <hr class="d-md-none d-block w-50 my-0">
            <label class="row custom-form-row">
                <span class="col-md col-12 mb-1 py-2 text-center">
                    <p class="m-0 p-0">Age</p>
                </span>
                <input class="col mx-4 mx-sm-0 form-control d-inline" type="number" name="age" required>
            </label>
            <hr class="d-md-none d-block w-50 my-0">
            <label class="row custom-form-row">
                <span class="col-md col-12 mb-1 py-2 text-center">
                    <p class="m-0 p-0">Gender</p>
                </span>
                <span class="col-md col-12 mb-1 py-2 text-center">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio"  name="Gender" value="Male">
                            Male
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="Gender" value="Female">
                            Female
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="Gender" value="Others">
                            Others
                        </label>
                    </div>
                </span>
            </label>
            <hr class="d-md-none d-block w-50 my-0">
            <label class="row custom-form-row">
                <span class="col-md col-12 mb-1 py-2 text-center">
                    <p class="m-0 p-0">Habits</p>
                </span>
                <span class="col-md col-12 mb-1 py-2 text-center">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio"  name="habits" value="None">
                            None
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio"  name="habits" value="Smoker/Drinker">
                            Smoker/Drinker
                        </label>
                    </div>
                   
                </span>
            </label>
            <hr class="d-md-none d-block w-50 my-0">
            <label class="row custom-form-row">
                <span class="col-md col-12 mb-1 py-2 text-center">
                    <p class="m-0 p-0">What is your Food Preference?</p>
                </span>
                <select class="col mx-4 mx-sm-0 form-control"  name="food" required>
                    <option  selected value> -- select -- </option>
                    <option value="Vegetarian">Vegetarian</option>
                    <option value="Non Vegetarian">Non Vegetarian</option>
                 </select>
            </label>
            <hr class="d-md-none d-block w-50 my-0">
            <label class="row custom-form-row">
                <span class="col-md col-12 mb-1 py-2 text-center">
                    <p class="m-0 p-0">What is your Profession?</p>
                </span>
                <select class="col mx-4 mx-sm-0 form-control"  name="profession" required>
                    <option  selected value> -- select -- </option>
                    <option value="Student">Student</option>
                    <option value="Working Professional">Working Professional</option>
                    <option value="Other">Other</option>
                </select>
            </label>
            <hr class="d-md-none d-block w-50 my-0">
            <label class="row custom-form-row">
                <span class="col-md col-12 mb-1 py-2 text-center">
                    Religion
                </span>
                <span class="col-md col-12 mb-1 py-2 text-center">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio"  name="religion" value="Particular">
                            Particular
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio"  name="religion" value="Not-Particular">
                            Not-Particular
                        </label>
                    </div>
                </span>
            </label>
            <hr class="d-md-none d-block w-50 my-0">
            <label class="row custom-form-row">
                <span class="col-md col-12 mb-1 py-2 text-center">
                    Sleep Schedule
                </span>
                <span class="col-md col-12 mb-1 py-2 text-center">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio"  name="sleepschedule" value="Night Owl">
                            Nightowl
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio"  name="sleepschedule" value="Early Bird">
                            Earlybird
                        </label>
                    </div>
                </span>
            </label>
            <hr class="d-md-none d-block w-50 my-0">
            <label class="row custom-form-row">
                <span class="col-md col-12 mb-1 py-2 text-center">
                    Cleanliness Habits
                </span>
                <span class="col-md col-12 mb-1 py-2 text-center">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio"  name="cleanlinessH" value=" Cleanliness Freak">
                            Cleanliness Freak
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio"  name="cleanlinessH" value="Messy">
                            Messy
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio"  name="cleanlinessH" value="In-Between">
                            In-Between
                        </label>
                    </div>
                </span>
            </label>
            <div class="row custom-form-row">
                <button class="btn btn-purple mx-auto" type="submit">Submit Preferences</button>
            </div>
        </section>
    </form>
    
</body>
</html>