<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
    <link rel="icon" href="{{ url_for('static', filename='/assets/icon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/style.css') }}">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    
<body>
	</head>
</head>
<body>
    <div class="container">
        <h2 style="text-align: center;">Signup</h2>
        <form method="post" action="/signup1" id="signupForm">
            <div class="form-group">
                <label for="username" class="row custom-form-row">
                    <span class="col-md col-12 mb-1 py-2 text-center">
                        <p class="m-0 p-0">Username</p>
                    </span>
                    <input class="col mx-4 mx-sm-0 form-control d-inline" required type="text" id="username" name="username" maxlength="25" pattern="[A-Za-z\s]+" title="Only letters are allowed" >
                </label>
                </div>
                <div class="form-group">
                    <label for="phoneNo" class="row custom-form-row">
                        <span class="col-md col-12 mb-1 py-2 text-center">
                            <p class="m-0 p-0">Phone Number</p>
                        </span>
                        <input class="col mx-4 mx-sm-0 form-control d-inline" required type="tel" id="phone" name="phone" maxlength="10" pattern="[0-9]{10}" title="Enter a valid phone number">
                    </label>
                    </div>
            <div class="form-group">
                <label for="email" class="row custom-form-row">
                    <span class="col-md col-12 mb-1 py-2 text-center">
                        <p class="m-0 p-0">Email</p>
                    </span>
                    <input class="col mx-4 mx-sm-0 form-control d-inline" required type="email" id="mail" name="mail" maxlength="50" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" title="Enter a valid email address">
                </label>
                </div>
                <div class="form-group">
                    <label for="password" class="row custom-form-row">
                        <span class="col-md col-12 mb-1 py-2 text-center">
                            <p class="m-0 p-0">Password</p>
                        </span>
                        <input class="col mx-4 mx-sm-0 form-control d-inline" required type="password" id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" >
                    </label>
                </div>
                <div class="form-group">
                    <label for="confirmPassword" class="row custom-form-row">
                        <span class="col-md col-12 mb-1 py-2 text-center">
                            <p class="m-0 p-0">Confirm Password</p>
                        </span>
                        <input class="col mx-4 mx-sm-0 form-control d-inline" required type="password" id="confirmPassword" name="confirmPassword">
                    </label>
                </div>
                <div class="g-recaptcha" data-sitekey="6LctPhkpAAAAAHF093wlvupE7hgyXQRtdKCfeJqd"></div>
            <br>
            <button type="submit" class="btn btn-purple w-100 mt-1">Sign Up</button>
        </form>
        
        <!-- Add this div to display an error message -->
        {% if error %}
        <div class="alert alert-danger mt-3">
            {{ error }}
        </div>
        {% endif %}
    </div>
    <script>
        document.getElementById('signupForm').addEventListener('submit', function(event) {
            var response = grecaptcha.getResponse();

            // Password and Confirm Password validation
            var password = document.getElementById('password').value;
            var confirmPassword = document.getElementById('confirmPassword').value;

            if (password !== confirmPassword) {
                event.preventDefault();
                alert('Passwords do not match. Please enter matching passwords.');
            } else if (response.length === 0) {
                // If reCAPTCHA is not completed, prevent form submission
                event.preventDefault();
                alert('Please complete the reCAPTCHA before submitting the form.');
            }
            // If reCAPTCHA is completed and passwords match, allow form submission
        });
    </script>
</body>
</html>
