<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
    <link rel="icon" href="{{ url_for('static', filename='/assets/icon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/style.css') }}">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    
<body>
	</head>
</head>
<body style="background-image: linear-gradient(rgba(0, 0, 0, 0.7),
rgba(0, 0, 0, 0.7)), url('static/assets/splash.png');">
    <div class="container">
        <br>
        <h2 style="text-align: center;">SIGNUP</h2>
        <br>
        <form method="post" action="/signup1" id="signupForm">
            <div class="form-group">
                <label for="username" class="row custom-form-row">
                    <span class="col-md col-12 mb-1 py-2 text-center">
                        <p class="m-0 p-0">Username <span style="color: red;">*</span></p>
                     </span>
                    <input class="col mx-4 mx-sm-0 form-control d-inline" style="background-color: white;" required type="text" id="username" name="username" maxlength="25" oninput="checkUsernameAvailability()">

                </label>
                <span id="usernameAvailabilityMessage" style="margin-left: 50%;"></span>
                </div>
                <div class="form-group">
                    <label for="username" class="row custom-form-row">
                        <span class="col-md col-12 mb-1 py-2 text-center">
                            <p class="m-0 p-0">First Name <span style="color: red;">*</span></p>
                         </span>
                        <input class="col mx-4 mx-sm-0 form-control d-inline" style="background-color: white;" type="text" id="fname" name="fname" maxlength="25" pattern="[A-Za-z\s]+" title="Only letters are allowed" >
                    </label>
                    </div>
                    <div class="form-group">
                        <label for="username" class="row custom-form-row">
                            <span class="col-md col-12 mb-1 py-2 text-center">
                                <p class="m-0 p-0">Last Name <span style="color: red;">*</span></p>
                             </span>
                            <input class="col mx-4 mx-sm-0 form-control d-inline" style="background-color: white;"required type="text" id="lname" name="lname" maxlength="25" pattern="[A-Za-z\s]+" title="Only letters are allowed" >
                        </label>
                        </div>
                <div class="form-group">
                    <label for="phoneNo" class="row custom-form-row">
                        <span class="col-md col-12 mb-1 py-2 text-center">
                            <p class="m-0 p-0">Phone Number <span style="color: red;">*</span></p>
                        </span>
                        <input class="col mx-4 mx-sm-0 form-control d-inline"style="background-color: white;" required type="tel" id="phone" name="phone" maxlength="10" pattern="[0-9]{10}" title="Enter a valid phone number">
                    </label>
                </div>
            <div class="form-group">
                <label for="email" class="row custom-form-row">
                    <span class="col-md col-12 mb-1 py-2 text-center">
                        <p class="m-0 p-0">Email <span style="color: red;">*</span></p>
                    </span>
                    <input class="col mx-4 mx-sm-0 form-control d-inline" style="background-color: white;" required type="email" id="mail" name="mail" maxlength="50" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" title="Enter a valid email address" oninput="checkEmailAvailability()">
                </label>
                <span id="emailAvailabilityMessage" style="margin-left: 50%;"></span>
                </div>
                <!-- <div class="form-group">
                    <label for="phoneNo" class="row custom-form-row">
                        <span class="col-md col-12 mb-1 py-2 text-center">
                            <p class="m-0 p-0">Age <span style="color: red;">*</span></p>
                        </span>
                        <input class="col mx-4 mx-sm-0 form-control d-inline" style="background-color: white;" required type="number" id="age" name="age" min="18" max="120" title="Enter your age">
                    </label>
                </div> -->
                <div class="form-group">
                    <label for="birthdate" class="row custom-form-row">
                        <span class="col-md col-12 mb-1 py-2 text-center">
                            <p class="m-0 p-0">Birthdate <span style="color: red;">*</span></p>
                        </span>
                        <input class="col mx-4 mx-sm-0 form-control d-inline" style="background-color: white;" required type="date" id="birthdate" name="birthdate" title="Enter your birthdate">
                    </label>
                </div>
                
                <div class="form-group">
                    <label class="row custom-form-row">
                        <span class="col-md col-12 mb-1 py-2 text-center">
                            <p class="m-0 p-0">Gender <span style="color: red;">*</span></p>
                        </span>
                        <span class="col-md col-12 mb-1 py-2 text-center">
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio"  name="Gender" value="Male">
                                    Male
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="Gender" value="Female">
                                    Female
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="Gender" value="Others">
                                    Others
                                </label>
                            </div>
                        </span>
                    </label>
                </div>
                <div class="form-group">
                    <label for="password" class="row custom-form-row">
                        <span class="col-md col-12 mb-1 py-2 text-center">
                            <p class="m-0 p-0">Password <span style="color: red;">*</span></p>
                        </span>
                        <input class="col mx-4 mx-sm-0 form-control d-inline" style="background-color: white;" required type="password" id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" >
                    </label>
                </div>
                <div class="form-group">
                    <label for="confirmPassword" class="row custom-form-row">
                        <span class="col-md col-12 mb-1 py-2 text-center">
                            <p class="m-0 p-0">Confirm Password <span style="color: red;">*</span></p>
                        </span>
                        <input class="col mx-4 mx-sm-0 form-control d-inline" style="background-color: white;" required type="password" id="confirmPassword" name="confirmPassword">
                    </label>
                </div>
                <div class="form-group">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="g-recaptcha" data-sitekey="6LctPhkpAAAAAHF093wlvupE7hgyXQRtdKCfeJqd"></div>
                        </div>
                    </div>
                </div>        
                <div class="form-group form-check" style="text-align: center;">
                    <input type="checkbox" class="form-check-input" id="agreeCheckbox">
                    <label class="form-check-label" for="agreeCheckbox">I agree to the <a href="/terms">terms and conditions</a></label>
                </div>
            <br>
            <button type="submit" class="btn btn-purple w-20 mt-1 mb-4" style="margin-left: 47%;" id="signupButton" disabled>Sign Up </button>
        </form>
        
        {% if error %}
        <div class="alert alert-danger mt">
            {{ error }}
        </div>
        {% endif %}
    </div>
    <script>
        function checkUsernameAvailability() {
            var username = document.getElementById('username').value;
            var usernameAvailabilityMessage = document.getElementById('usernameAvailabilityMessage');
    
            // Send an AJAX request to check username availability
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/check_username', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    if (response.available) {
                        usernameAvailabilityMessage.textContent = 'Username available';
                    } else {
                        usernameAvailabilityMessage.textContent = 'Username already taken';
                    }
                }
            };
            xhr.send(JSON.stringify({ username: username }));
        }
    </script>
    <script>
        function checkEmailAvailability() {
            var email = document.getElementById('mail').value;
            var emailAvailabilityMessage = document.getElementById('emailAvailabilityMessage');
    
            // Send an AJAX request to check username availability
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/check_email', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    if (response.available) {
                        emailAvailabilityMessage.textContent = 'Email available';
                    } else {
                        emailAvailabilityMessage.textContent = 'Email already exists';
                    }
                }
            };
            xhr.send(JSON.stringify({ email: email }));
        }
    </script>
    <script>
        document.getElementById('signupForm').addEventListener('submit', function(event) {
            var response = grecaptcha.getResponse();

            // Password and Confirm Password validation
            var password = document.getElementById('password').value;
            var confirmPassword = document.getElementById('confirmPassword').value;

            if (password !== confirmPassword) {
                event.preventDefault();
                alert('Passwords do not match. Please enter matching passwords.');
            } else if (response.length === 0) {
                // If reCAPTCHA is not completed, prevent form submission
                event.preventDefault();
                alert('Please complete the reCAPTCHA before submitting the form.');
            }
            // If reCAPTCHA is completed and passwords match, allow form submission
        });
    </script>
    <script>
        // Function to enable/disable sign-up button based on checkbox state
        function toggleSignupButton() {
            var checkbox = document.getElementById('agreeCheckbox');
            var signupButton = document.getElementById('signupButton');
    
            if (checkbox.checked) {
                signupButton.disabled = false;
            } else {
                signupButton.disabled = true;
            }
        }
    
        // Add event listener to checkbox to toggle sign-up button state
        document.getElementById('agreeCheckbox').addEventListener('change', toggleSignupButton);
    </script>
</body>
</html>
