<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="robots" content="noindex">

		<title>Support</title>
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>
		<link rel="icon" href="{{ url_for('static', filename='/assets/icon.png') }}" type="image/x-icon">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">

		<link rel="stylesheet" href="{{ url_for('static', filename='/styles/bootstrap.min.css') }}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='/styles/style.css') }}">

    
	</head>

	<body>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='/assets/icon.png') }}" src="site logo" height="100">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavItems" aria-controls="mainNavItems" aria-label="Toggle main menu" aria-expanded="false" >
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse ml-auto" id="mainNavItems">
                <div class="ml-auto navbar-nav nav">
                    <div class="ml-auto navbar-nav nav">
                        {% if not session.get('user') %}
                        <a class="nav-item nav-link mx-1" href="/">
                            Home
                        </a> 
                        {% endif %}
                        <a class="nav-item nav-link mx-lg-2 mx-1" href="/whyroommatefinder">
                            Why Roomies?
                        </a>
                        {% if session.get('user') %}
                        <a class="nav-item nav-link mx-1" href="/profile"> Profile </a>
                        {% endif %}
                        <a class="nav-item nav-link mx-1 active" href="/support">
                            Support
                        </a>
                        <a class="nav-item nav-link mx-1" href="/support" onclick="scrollToFooter()">
                            Contact Us
                        </a>
                        {% if session.get('user') %}
                            {% if session['user']['username'] in admin_users %}
                                <a class="nav-item nav-link mx-1" href="/admin">
                                    Admin
                                </a>
                            {% endif %}
                        {% endif %}
                        {% if session.get('user') %}
                        <a class="nav-item nav-link mx-1" href="/dashboard">
                          Dashboard
                      </a>
                        <a class="mx-1 btn btn-outline-danger auth-only" id="logoutBtn" href="/logout">
                          Log Out
                      </a>
                      {% endif %}
            
                        {% if not session.get('user') %}
                        <button class="mx-1 btn btn-outline-purple no-auth login-btn" id='log-in' href="/login">
                          Log In
                      </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>

        <main class="container">
            
            <p class="h1 text-center">Roomies - Support</p>

			<section class="text-center my-4" id="about">
                Where We Turn Roommate Hurdles into Home Sweet Home Solutions!
			</section>
            <hr class="w-75">
            <section class="mt-3 mb-5" id="form">
                <p class="text-center">
                    <span id="resMsg"></span>
                </p>
                <form name="support" method="POST" enctype="multipart/form-data" id="supportForm">
                    <p class="h4 text-center mt-4 mb-1">Questions</p>
                    <p class="text-danger text-center small m-0 p-0">Your responses will be private and only be shared with the creators of the website.</p>
                    <br>
                    <label class="row custom-form-row">
                        <span class="col-md col-12 mb-1 py-2 text-center">
                            <p class="m-0 p-0">Your Name:</p>
                        </span>
                        <input class="col mx-4 mx-sm-0 form-control d-inline" required type="text" name="name" maxlength="128" pattern="[A-Za-z\s]+" title="Only letters and spaces are allowed">
                    </label>
                    <hr class="d-md-none d-block w-50 my-0">
                    <label class="row custom-form-row">
                        <span class="col-md col-12 mb-1 py-2 text-center">
                            <p class="m-0 p-0">How can we reach you?</p>
                            <p class="text-info text-center small m-0 p-0">Email Address</p>
                        </span>
                        <input class="col mx-4 mx-sm-0 form-control d-inline" required type="email" name="reach" maxlength="50" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                        title="Enter a valid email address">
                    </label>
                    <hr class="d-md-none d-block w-50 my-0">
                    <label class="row custom-form-row">
                        <span class="col-md col-12 mb-1 py-2 text-center">
                            <p class="m-0 p-0">Query Title:</p>
                        </span>
                        <textarea class="col mx-4 mx-sm-0 form-control d-inline" required type="text" name="bug" maxlength="128"></textarea>
                    </label>
                    <hr class="d-md-none d-block w-50 my-0">
                    <label class="row custom-form-row">
                        <span class="col-md col-12 mb-1 py-2 text-center">
                            <p class="m-0 p-0">Query Details:</p>
                        </span>
                        <textarea class="col mx-4 mx-sm-0 form-control d-inline" required type="text" name="detail" maxlength="500"></textarea>
                    </label>
                    <hr class="d-md-none d-block w-50 my-0">
                    <label class="row custom-form-row">
                        <span class="col-md col-12 mb-1 py-2 text-center">
                            <p class="m-0 p-0">Attach a Screenshot:</p>
                        </span>
                        <input class="col mx-4 mx-sm-0 form-control d-inline" style="border: none;" type="file" id="image" name="image" accept="image/*"></input>
                    </label>
		    <label class="row custom-form-row">
                        <span class="col-md col-12 mb-1 py-2 text-center" data-netlify-recaptcha="true">
                        </span>
                    </label>                    
                    
                
                    <div style="text-align: center;">
                        <div class="g-recaptcha" data-sitekey="6LctPhkpAAAAAHF093wlvupE7hgyXQRtdKCfeJqd" style="display: inline-block;"></div>
                    </div>
                    <br>
                    <hr class="d-sm-none d-block w-75 my-2">
                    <div style="text-align: center;"><button class="btn btn-purple mx-auto">Submit Response!</button></div>
                    <p class="mt-3 text-center w-100"><span id="resSub"></span></p>
                </form>
            </section>
		</main>

    </body>
    <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"
        integrity="sha384-GLhlTQ8iKHEo7RY/RykD/xTk9SJ0Dl/6ZI99VF5ceEAAbFpi6Rv4r+7L3UqFvuci"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
  
    <script>
        function scrollToFooter() {
            var footer = document.querySelector('footer');
            footer.scrollIntoView({ behavior: 'smooth' });
        }
    </script>
    <script>
        document.getElementById('log-in').addEventListener('click', function() {
            window.location.href = '/login';  
        });
      </script>

    <script>
        document.getElementById('supportForm').addEventListener('submit', function(event) {
            var response = grecaptcha.getResponse();
    
            if (response.length === 0) {
                // If reCAPTCHA is not completed, prevent form submission
                event.preventDefault();
                alert('Please complete the reCAPTCHA before submitting the form.');
            }
            // If reCAPTCHA is completed, allow form submission
        });
    </script>
</html>
