<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/styles/style.css') }}"
    />
</head>
<style>
    body{
        background-color: #141618;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
          "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
          "Noto Color Emoji";
        font-size: 1rem;
        color: #c3bfbb;
    }
</style>
<body>
    <h1>OTP Verification</h1>
    <p>Please enter the OTP you received in your email:</p>
    <form action="/verify_email" method="POST">
        <label for="otp">OTP:</label>
        <input type="text" id="otp" name="otp" required>
        <button class="btn mx-1 btn btn-outline-danger" type="submit">Verify OTP</button>
    </form>
</body>
</html>